
.etudes {
    grid-row: 2;
    grid-column: 1/3;
}

.extrascolair {
    grid-row: 3;
    grid-column: 1/4;
}

.competences {
    grid-row: 2/4;
    grid-column: 4/6;    
}

.contact {
    grid-row: 4;
    grid-column: 1/6;
}

.projects {
    grid-row: 1;
    grid-column: 1/6;
    height: 150px;
}

.loisirs {
    grid-row: 2;
}

.to-project {
    grid-row: 3;
    grid-column: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.photo,
.github {
    border-radius: 50% 10%;
    height: 250px;
    width: auto;
    margin-left: 10px;
}

.logo {
    height: 150px;
    width: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LogoProject {
    height:100px;
    width:fit-content;
    align-self:center;
}

a.container {
    text-decoration:none;
}

h2 {
    text-align: center;
}

hr {
    color : white;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration : 500ms
}

.project:hover,
.github {
    box-shadow : white 0 0 13px;
}


@media (max-width: 1000px) {
    body {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: auto;
    }

    header {
        grid-row: 1;
        grid-column: 1/4;
    }
    
    .etudes {
        grid-row: 2;
        grid-column: 1/3;
    }
    
    .extrascolair {
        grid-row: 4;
        grid-column: 3;
    }
    
    .competences {
        grid-row: 3/5;
        grid-column: 1/3;    
    }
    
    .contact {
        grid-row: 5;
        grid-column: 1/6;
        height: 150px;
    }
    
    .loisirs {
        grid-row: 2;
    }
    
    .github {
        grid-row: 3;
        grid-column: 3;
    }
}

@media (max-width: 900px) {
    @media (max-width: 900px) {
    .big-container {
        display: flex;
        flex-direction: column;
        
    }

    .container {
        grid-column: 1;
        grid-row: auto;
    }
}

    .container {
        grid-column: 1;
        grid-row: auto;
    }
}
