:root {
    --background-color : #38363F;
    --background-color-secondary : #434148;
    --highlit-color : #333238;
    --hover-color : #4d4a56;
    --shimmer-highlight : #76787c;
}

@font-face {
  font-family: 'Poetsen One';
  src: url('/res/font/PoetsenOne-Regular.ttf') format('truetype');
}

body {
    background-color: var(--background-color);
    text-align: justify;
    font-family: 'Poetsen One', sans-serif;
    color: white;
    user-select: none;
    margin: 0;
    overflow-x: hidden;
}

footer {
    text-align: center;
    background-color: #2b292f;
    padding: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}

footer img.photo-moa {
    border-radius: 50%;
    height: 200px;
}

a {
    cursor: pointer;
    color: white;
    transition-duration: 500ms;
    &:hover  {
        text-shadow : white 0 0 1px;
    }
}

.big-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    grid-template-rows: repeat(5, auto);
    margin: 0 10px;
}

@media (max-height : 790) {
    .big-container {
        height: 100vh;  
    }  
}

.container {
    border-radius: 10px;
    border: solid 1px white;
    padding: 10px;
    overflow: hidden;
    transition-duration: 500ms;
    background-color: var(--background-color);
}

div.column {
    display: flex;
    flex-direction: column;
    gap: 0;
}

div.column h1,
div.column p {
    margin: 0;
}

header,
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: end;
    font-size: large;
}

nav {
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition-duration: 500ms;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.button {
    border-radius: 5px;
    text-decoration: none;
    color: var(--background-color);
    background-color: white;
    padding: 5px 10px;
}

h3.separator {
    margin-bottom: 0;
}

hr.separator {
    border: 1px solid white;
    border-radius: 10px;
}

.select_language {
    z-index: 999;
    position: fixed;
    top: 20px;
    right : 0px;
    background-color: var(--highlit-color);
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: white solid 1px;
    border-right: none;
    box-shadow : white 0 0 3px;
    animation: 2s forwards ease-out slide-in;
    animation-delay: 2s;
    transform: translateX(110%)
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(110%);
  }
}

select {
    border: none;
    color: white;
    border-bottom: 1px white solid;
    background-color: inherit;
    font-family: 'Poetsen One', sans-serif;
}

select:hover {
    cursor: pointer;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: 200% 0
    }
    100%{
        background-position: -100% 0
    }
}

.skeleton-load {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;

    background-image: linear-gradient(85deg, var(--hover-color), var(--shimmer-highlight) 20%, var(--hover-color) 40%);
    background-size: 300% 100%;
    height: 20px;

    border-radius: 5px;
}

main .skeleton-load,
footer .skeleton-load {
    width: 100px;
    display: inline-block;
}

div.big-container .skeleton-load {
    width: 100%;
    display: inline-block;
}

div.contact ul .skeleton-load {
    width: 100px;
    display: inline-block;
}

li.skeleton-load {
    display: inline flow-root list-item !important;
}

.photo,
.github {
    border-radius: 50% 10%;
    height: 250px;
    width: auto;
    margin-left: 10px;
}