:root {
    --background-color : #38363F;
    --background-color-secondary : #434148;
    --highlit-color : #333238;
}

@font-face {
  font-family: 'Poetsen One';
  src: url('./../font/PoetsenOne-Regular.ttf') format('truetype');
}

body {
    background-color: var(--background-color);
    text-align: justify;
    font-family: 'Poetsen One', sans-serif;
    color: white;
    user-select: none;
    margin: 0;
}

footer {
    text-align: center;
    background-color: #2b292f;
    padding: 10px;
    padding-bottom:10px
}

footer img.photo-moa {
    border-radius: 50%;
}

a {
    cursor: pointer;
    color: white;
}

.big-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    grid-template-rows: repeat(5, auto);
    margin: 0 10px;
}

@media (max-height : 790) {
    .big-container {
        height: 100vh;  
    }  
}

.container {
    border-radius: 10px;
    border: solid 1px white;
    padding: 10px;
    overflow: hidden;
    transition-duration: 500ms;
    background-color: var(--background-color);
}

header,
header div,
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: end;
    font-size: large;
}

nav {
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition-duration: 500ms;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.button {
    border-radius: 5px;
    text-decoration: none;
    color: var(--background-color);
    background-color: white;
    padding: 5px 10px;
}