body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.notFound {
  font-size: 5rem;
  margin: 0;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count : infinite;
}

main {
  align-content: center;
  text-align: center;
  flex: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  10% {
    transform: rotate(20deg)
  }
  20% {
    transform: rotate(-30deg)
  }
  30% {
    transform: rotate(40deg)
  }
  50% {
    transform: rotate(-360deg)
  }
  to {
    transform: rotate(-360deg)
  }
}

.ligneContaineur {
  width: 0;
  margin-top: 60px;
  overflow: hidden;
  animation-name: ligne_app;
  animation-duration: 15s;
  animation-timing-function: linear;
}

.fall{
  position: absolute;
  animation: fall infinite;
  animation-timing-function: linear;
  z-index: 0;
}

@keyframes fall {
    from {
        top: -30px;
        transform: rotate(0deg);
    }
    to {
      top: 100vh;
      transform: rotate(1000deg);
    }
}

.ligne {
  border-top: 5px dashed black;
  border-color: white;
  padding: 10px 0;
  width: 100vw;
}

@keyframes ligne_app {
    from {
        width: 0;
    }
    30% {
        width: 100vw;
    }
    60% {
        width: 100vw;
    }
    90% {
      width: 0;
    }
}

.car {
  width: 100px;
  left: -110px;
  position: absolute;
  animation-name: car;
  animation-duration: 15s;
  animation-timing-function: linear;
}

@keyframes car {
    from {
        left: -100px;
    }
    30% {
        left: -100px;
    }
    60% {
        left: 120vw;
    }
    to {
      left: 120vw
    }
}